body, h1, h2, h3, h4, p, li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
}

.ship-canvas {
  display: none;
}

.ready-image {
  display: none;
}

.space-bg {
  display: block;
  margin: 0 auto;
}
