body, h1, h2, h3, h4, p, li{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
*{
  box-sizing: border-box;
}
ul, ol{
  list-style: none;
}

.game-canvas{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
.ship-canvas{
  display: none;
}
.ready-image{
  display: none;
}
.space-bg{
  display: block;
  margin: 0 auto;
}
.game-text{
  position: absolute;
  top: 0;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #49ade9;
  &.score{
    right: 0;
  }
  &.lives{
    left: 0;
  }
}
